# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
env/
venv/

# Pliki IDE
.vscode/
.idea/

# Pliki danych użytkownika
data/

# plik z credentalami do pobierania danych z enea
config.ini
